extends ../layout

block content
  ul
  	li
  		a(href="/backbone/model") model
  	li
  		a(href="/backbone/collection") collection
  	li
  		a(href="/backbone/router") router
  	li
  		a(href="/backbone/view") view

