extends ../layout

block content
  h1 backbone router
  ul
    li
      a(href="#11action") router: #11action
    li
      a(href="#posts/123/abc") router: #posts/123/abc

append footer
  script(src="/javascripts/router.js")

