<!DOCTYPE html>
html
head(lang="zh-CN")
  meta(charset="UTF-8")
  meta(http-equiv='X-UA-Compatible', content='IE=Edge')
  meta(name='renderer', content='webkit')
  title= title ? title : 'qiulijun.com'
  block stylesheet
  block head-script
body
  block content
  block foot-script
